@model IEnumerable<DsiVendas.Models.Cliente>

<h1>Lista de Clientes</h1>

<p>
  <a asp-action="Criar" class="btn btn-primary" >Criar Novo Cliente</a>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Endereço</th>
      <th scope="col">Telefone</th>
      <th scope="col">Ações</th>

    </tr>
  </thead>
  <tbody>
    @foreach (var cliente in Model)
    {
      <tr>
        <td scope="row">@cliente.Id</td>
        <td>@cliente.Nome</td>
        <td>@cliente.Email</td>
        <td>@cliente.Endereco</td>
        <td>@cliente.Telefone</td>
        <td>
          <a asp-action="Editar" asp-route-id="@cliente.Id" class="btn btn-warning">Editar</a>| |

          <form asp-action="Remover" asp-route-id="@cliente.Id" method="post" style="display:inline;" onsubmit="return confirm('Tem certeza que deseja excluir este cliente?');">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                 </td>
            </tr>
        }
    </tbody>
</table>