@model IEnumerable<DsiVendas.Models.Produto>

<h1>Lista de Produtos</h1>

<p>
  <a asp-action="Criar" class="btn btn-primary" >Criar Novo Produto</a>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Fornecedor</th>

    </tr>
  </thead>
  <tbody>
    @foreach (var produto in Model)
    {
      <tr>
        <td scope="row">@produto.Id</td>
        <td>@produto.Nome</td>
        <td>@produto.Preco.ToString("C")</td>
        <td>@produto.Fornecedor.RazaoSocial - @produto.Fornecedor.Telefone</td>
        <td>
          <a asp-action="Editar" asp-route-id="@produto.Id" class="btn btn-warning">Editar</a> 
          
          <form asp-action="Remover" asp-route-id="@produto.Id" method="post" style="display:inline;" onsubmit="return confirm('Tem certeza que deseja excluir este produto?');">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                 </td>
            </tr>
        }
    </tbody>
</table>